*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Plus Jakarta Sans';
    overflow-x: hidden;
    background-color: #F0F1FF;

   
    
   
}
header{
    display: flex;
   justify-content: space-between;
   align-items: center;
    
}
.logo-dark{
    margin-left: 16px;
    margin-top: 10px;
}
.button1{
    margin-right: 16px;
    cursor: pointer;
    background-color: #13183F;
    width: 140px;
    height: 48px;
    border-radius: 28px;
    border-style: none;
    color: white;
    font-family: 'Plus Jakarta Sans';
font-size: 16px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0px;
margin-top: 10px;
}

.heading-L>h1{
   
font-family: 'Plus Jakarta Sans';
font-size: 40px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0px;
text-align: left;
color: #13183F;

}
.heading-L{
    display: flex;
 
width: 343px;
height: 101px;
margin: 45px 16px 0px 16px;

}
.Main-Paragraph{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 26px 16px 0px 16px;
    
   
}
.Main-Paragraph>p{
    font-family: 'Plus Jakarta Sans';
font-style: Medium;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #83869A;
padding: 0rem 1.6rem 0rem 0rem;

}
.Get-Started2{
    background-image: linear-gradient(#FF6F48, #F02AA6);
    width: 167px;
    height:56px;
    border-radius: 31.5px;
    display: flex;
    
    align-items: center;
    margin: 2.4rem 19.2rem 0rem 1.6rem;
}

.Get-Started2>a{
   
    color: white;
    text-decoration: none;
    font-family: Plus Jakarta Sans;
font-size: 16px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
text-align: left;

}
.Get-Started2:hover{
   opacity: 50%;

}
.hero-mobile{
    width:327px;
    height: 301px;
    margin-left: 16px;
    margin-right: 16px;
}


.grid-container{
    display: grid;
    padding: 0px 16px 16px 16px;
    gap: 40px;
    
}

p{
    font-family: 'Plus Jakarta Sans';
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: #83869A;
padding: 1.6rem 2.9rem 2.4rem 2.8rem;
}

span{
    display: block;
    font-family: 'Plus Jakarta Sans';
font-size: 20px;
font-weight: 800;
line-height: 25px;
letter-spacing: 0px;
text-align: left;
color:#13183F;
padding: 0px 0px 16px 0px;

}
.content-box1,
.content-box2,
.content-box3,
.content-box4,
.content-box5{
    width: 34.3rem;
    height: 25.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    padding: 0rem 0rem 0rem 2.8rem;
    color: #F74780;
    font-family: 'Plus Jakarta Sans';
font-size: 18px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0px;
text-decoration: none;
}
a:hover{
    opacity:50%;
}

.icon-animation,
.icon-design,
.icon-photography,
.icon-crypto,
.icon-business{
    width: 5.6rem;
    height: 5.6rem;
    
   margin: -7rem 0rem 0rem 2.8rem;
}
.content-box1,
.content-box2,
.content-box3,
.content-box4,
.content-box5{
    background-color: white;
    border-radius: 10px;
}
.main-box{
    background-image: linear-gradient(#FF6F48,#F02AA6
    );
    width: 343px;
    height: 120px;
    border-radius: 10px;
}
h2{
    font-family: 'Plus Jakarta Sans';
font-size: 24px;
font-weight: 800;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
color:white;
padding: 24px 29px 32px 28px;
}
footer{
    background-color: #13183F;
    width: 375px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo-light{
    margin-left: 16px;
    margin-top:10px;
}

.button2{
    margin-right: 16px;
    cursor: pointer;
    background-image: linear-gradient(#4851FF,#F02AA6);
    width: 140px;
    height: 48px;
    border-radius: 28px;
    border-style: none;
    color: white;
    font-family: 'Plus Jakarta Sans';
font-size: 16px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0px;
margin-top: 10px;


}


button:hover{
    opacity:50%;
}
@media screen and (max-width: 750px){
.hero-tablet{
    display: none;
}
}
